html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #000000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151517;
  color: #fff0e5;
  height: 10vh;
  position: sticky;
  top: 0;
}

nav h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 47px;
  color: #e5e5e5;
  margin-top: 40px;
}

nav a {
  color: #e5e5e5;
  text-decoration: none;
}

main {
  height: 85vh;
}

footer {
  background: #151517;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  position: sticky;
  bottom: 0;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5a595e;
}

footer a {
  color: #5a595e;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fff0e5;
    background: #000000;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: normal) {
  html {
    color-scheme: light, normal;
  }
  body {
    color: #262418;
    background-color: #fff0e5;
  }
}
