.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.timerButton {
  cursor: pointer;
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background: #0a2a11;
  border: 1px solid #0a2a11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timerButtonLink {
  margin-bottom: 20px;
}

.timerButtonIcon {
  height: 37px;
}
